@keyframes toy-pop {
    0%{

    }
    100%{
        transform: translateY(-10em);
    }
}

@keyframes cake-pop {
    0%{

    }
    100%{
        transform: translateY(-10em);
    }
}

@keyframes hide-hair{
    0%{
        display: none;
    }
    95%{
        display: none;

    }
    100%{
        display: block;
    }
}

@keyframes hand-left {
    0%{
        transform: rotate(-1deg);
    }
    90%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}
@keyframes hand-right {
    0%{
        transform: rotate(1deg);
    }
    90%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

@keyframes hide{
    0%{
        display: none;
    }
    99%{
        display: none;
    }
    100%{
        display: flex;
    }
}

@keyframes growline {
    0%{
        width: 0%;
        height: 0.5em;
    }
    50%{
        height: 0.5em;
        width: 100%;
    }
    100%{
        width: 100%;
        height: 10em;
    }
}

@keyframes pop {
    0%{
        transform: scale(1)rotate(30deg);
        opacity: 0;
        
    }    
    20% {
        transform: scale(1.2);
        opacity: 1;
        transform: scale(1)rotate(20deg);
    }
    100%{
        transform: scale(1)rotate(0deg);
        opacity: 1;
    }    

}

@keyframes moveTop {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-15em);

    }
}

@keyframes letterShake {
    0%{
        transform: rotate(10deg) translateY(0);
    }
    25% {
        transform: rotate(-5deg) translateY(15px);
    }
    50% {
        transform: rotate(10deg) translateY(10px);
    }
    75% {
        transform: rotate(-15deg) translateY(5px);
    }
    100% {
        transform: rotate(20deg) translateY(0px);
    }
}
