:root{
    --shirt:#162016;
    --ribben:#FD1622;
    --colar:#3A28A8;
    --line: rgb(54, 147, 178);
    --skin:rgb(235, 204, 166);
    --cream:rgb(252, 247, 247);
    --melt:white;
    --cake:#FD9ED4;
    --cheek:rgb(237, 69, 198);
    --background: linear-gradient(217deg, rgba(11, 4, 35, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(16, 6, 43, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(6, 6, 38, 0.8), rgba(0,0,255,0) 70.71%);
}
/* :root{
    --shirt:#162016;
    --ribben:#FD1622;
    --colar:#3A28A8;
    --skin:bisque;
    --cream:rgb(252, 247, 247);
    --melt:white;
    --cake:rgb(223, 59, 157);
} */