

@media (max-width: 400px) {
    .cake-out-1{
        position: absolute;
        display: flex;
        justify-content: center;
        top: 43vh;
        height: 5em;
        width: 10em;
        border-top-left-radius: 11em;
        border-top-right-radius: 11em;
        background-color: var(--cream);
        bottom: 1.7em;
        transform: rotateX(70deg);
        z-index: 0;
        
    }
    .cake-out-1::after{
        position: absolute;
        content: '';
        top: 4.6vh;
        height: 2em;
        width: 5.4em;
        border: 0.1em solid red;
        border-bottom: 0;
        border-top-left-radius: 11em;
        border-top-right-radius: 11em;
        z-index: 1;
    }
    .cake-out-2{
        position: absolute;
        content: '';
        top: -1em;
        left: 2.2em;
        height: 2em;
        width: 5.4em;
        border: 0.1em solid red;
        border-top: 0;
        border-bottom-left-radius: 11em;
        border-bottom-right-radius: 11em;
        background-color: rgb(37, 41, 40);
        transform: rotateX(75deg);
        z-index: 3;
        animation: cake-hole 70s;
    }

    .tab{
        position: absolute;
        height: 4em;
        width: 20em;
        background-color: rgb(193, 137, 15);
        bottom: 7.5em;
        z-index: 1;
    }
    .tab1{
        position: absolute;
        height: 2em;
        width: 18em;
        background-color: rgb(214, 157, 34);
        bottom: 7.2em;
        z-index: 0;
    }
    .tab1::after{
        content: '';
        position: absolute;
        height: 10em;
        width: 1em;
        background-color: rgb(214, 157, 34);
        z-index: 0;
    }
}