@font-face {
    font-family: "suga";
    src: url("../font/font.ttf") format("truetype");
  }

.modal{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    z-index: 20;
}

.letter-content{
    font-family: 'suga',sans-serif;
    height: 50vh;
    width: 55vw;
    padding: 15px;
    line-height: 1.4;
    word-spacing: 1px;
    font-size: 0.8em;
    background-color: white;
}